doctype html
head
  title VideoChrono
  link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")

  script(src='js/jquery.js')
  script(src='clientlib.js')
  script(src='client.js')
      
  
body
  div(class="jumbotron container")
    h3 VideoChrono
    span Spaced repetition for videos!
  div(class="container" id="container")

    
    
